[requires]
python_version = "3.12"

[packages]
openai = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyttsx3 = "*"
gtts = "*"
pygame = "*"
comedy-playgroup = {file = ".", editable = true}

[dev-packages]
ipykernel = "*"
